#captionMessageContainer {
	z-index: 1000;
	position: absolute;
	top: 35%;
	width: 100%;
  	margin: 0 auto;
	text-align: center;
	color: #fff;
	opacity: 0.5;
}

#captionImage {
    border-right: none;
    border-left: none;
    position: relative;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }