#loginFormContainer {
	z-index: 1000;
	position: absolute;
	top: 35%;
	width: 100%;
  	margin: 0 auto;
	text-align: center;
	color: #fff
}

#loginForm {
	margin:0 auto;
	width: 35%;
	vertical-align:middle;
}

#messageContainer{
	padding-top:10px;
	font-size:large;
	margin:0 auto;
	width: 35%;
	vertical-align:middle;
}

/* */
#sign-in-button{
	background-color: #668cff
}