<div class="form-group">
	<table class="table">
	<tr><td>Patient:</td> <td>{{eval.name}}</td><tr/>
	<tr><td>Body Temp (&#8457):</td><td> <input class="form-control" type="text" ng-model="eval.bodyTemp" /></td><tr/>
	<tr><td>Blood Pressure (mmHg):</td><td> <input class="form-control" type="text" ng-model="eval.bloodPressure" /></td><tr/>
	<tr><td>Heart Rate (BPM):</td> <td><input class="form-control" type="text" ng-model="eval.heartRate"/></td><tr/>
	<tr><td>Blood Sugar (mg/dL):</td><td> <input class="form-control" type="text" ng-model="eval.bloodSugar"/></td><tr/>
	<tr><td>Height:</td><td> <input class="form-control" type="text" ng-model="eval.height" /></td><tr/>
	<tr><td>Weight (lbs.):</td><td> <input class="form-control" type="text" ng-model="eval.weight" /></td><tr/>
	<tr><td>Reason:</td> <td><input class="form-control" type="text" ng-model="eval.reason" /></td><tr/>
	<tr><td>Symptoms:</td> <td><input class="form-control" type="text" ng-model="eval.symptoms" /></td><tr/>
	<tr><td>Allergies:</td><td> <input class="form-control" type="text" ng-model="eval.allergies" /></td><tr/>
	<tr><td>Medications:</td><td> <input class="form-control" type="text" ng-model="eval.medications" /></td><tr/>
	<tr><td>Prior Issues:</td> <td><input class="form-control" type="text" ng-model="eval.priorIssues" /></td><tr/>
	</table>
	
	<input class="btn btn-primary input-lg" type="submit" value="Submit" ng-click="submitEval();" />
	
	
</div>