<div>
<h1><span class="label label-default" >#{{patientId}}, {{firstName}} {{lastName}}</span></h1>
<table class="table table-bordered">
	<tr><th>Test Code</th><th>Result</th><th>Date</th></tr>
	<tr ng-repeat="test in tests">
		<td>{{test.type}}</td><td>{{test.result}}</td><td>{{test.date}}</td>
	</tr>
</table>

<div class="form-group form-inline" >
<label>Test Code: </label><input class="form-control" type="text" ng-model="newTestCode"/>
<label>Test Result: </label><input class="form-control" type="text" ng-model="newTestResult"/>
<label>Completion Date (Ex. DD-MMM-YY): </label><input class="form-control" type="text" ng-model="newTestDate"/>
</div>
<button class="btn btn-primary input-lg" ng-click="addTest();">Add Result</button>
</div>