<div class="container" >
	<h1><span class="label label-default">Patient list</span></h1>
	<div class="row" >
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
		ng-repeat="patient in patients" >
  			<div class = "panel-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{patient.firstName}} {{patient.lastName }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{patient.eMail}}</td>
					</tr>
					<tr>
					<td>Address</td>
					<td>{{patient.address.addressLine1}}, {{patient.address.city}}, {{patient.address.state.stateAbbrv}}, {{patient.address.zip}}</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td>{{patient.address.phoneNumber}}</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" ng-click="createEvalFor(patient.id,patient.firstName,patient.lastName)" >
				Create Evaluation</a>
			<a class="btn btn-primary" ng-click="createTest(patient.id,patient.firstName,patient.lastName)" >Post Test Result</a>
		</div>
	</div></div>
</div>