<div class="panel-body">
	<div class="row">
		<div class="col-md-3 col-lg-3 " align="center"> 
			<img id="profileImg" alt="Not Found" src="/medi/resources/img/gravatar.png" class="img-circle img-responsive"> </div>
			<div class=" col-md-9 col-lg-9 "> 
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Name:</td>
							<td>{{profile.firstName}} {{profile.lastName }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td><input id="newEmail" type="text" class="form-control"  value="{{profile.eMail}}" /></td>
						</tr>
						<tr>
							<td>Street</td>
							<td><input id="newStreet" type="text" class="form-control"  value="{{profile.address.addressLine1}}" /> </td>
						</tr>
						<tr>
							<td>City</td>
							<td><input id="newCity" type="text" class="form-control"  value="{{profile.address.city}}" /> </td>
						</tr>
						<tr>
							<td>Zip</td>
							<td><input id="newZip" type="text" class="form-control"  value="{{profile.address.zip}}" /> </td>
						</tr>
						<tr>
							<td>State Abbreviation</td>
							<td>
								<select class="form-control" id="newState" >
									<option ng-repeat="state in states" value="{{state.id}}" 
										ng-selected="{{state.stateAbbrv == profile.address.state.stateAbbrv}}" >
										{{state.stateName}}
									</option>
								</select> 
							</td>
						</tr>
					</tbody>
				</table>
		<a id="saveProfile" class="btn btn-primary" ng-href="#here" ng-click="save()">Save My Profile</a>
		</div>
	</div>
</div>
