<div class="container" >
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<h1 class="col-md-4"><span class="label label-default">Available Providers</span></h1>
		<form class="navbar-form navbar-left" id="search-form" name="search-form">
	    	<div class="form-group">
	    		<input type="text" class="form-control" placeholder="Search Provider By Last Name" id="findProvider" >
	    	</div>
	    	<button type="button" class="btn btn-success" id="search" ng-click="searchProvider()">Search</button>
		</form>
	</div>
	<br/>
	<div class="row" >
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
		ng-repeat="provider in availableProviders" >
  			<div class = "panel-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{provider.firstName}} {{provider.lastName }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{provider.eMail}}</td>
					</tr>
					<tr>
					<td>Office Address</td>
					<td>{{provider.address.addressLine1}}, {{provider.address.city}}, {{provider.address.state.stateAbbrv}}, {{provider.address.zip}}</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td>{{provider.address.phoneNumber}}</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" id="provider.id" ng-href="#subscribe" ng-click="subscribe( provider.id )" >
				Subscribe</a>
		</div>
	</div></div>
	<br/>
	<div class="container">
		<button href="#manageProvider" type="button" class="btn btn-primary">My Providers</button>
	</div>
</div>

