
<form id="target" class="form-horizontal">
	<fieldset>
		<div data-html="true" data-trigger="manual" data-title="Form Name"
			data-content=""
			class="component">
			<!-- Form Name -->
			<legend>Sign-In</legend>
		</div>
		<div data-html="true" data-trigger="manual" data-title="Text Input"
			class="component">
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="userName">User
					Name: </label>
				<div class="col-md-4">
					<input id="userName" name="userName" placeholder="username"
						class="form-control input-md" required="" type="text">

				</div>
			</div>
		</div>
		<div data-html="true" data-trigger="manual"
			data-title="Password Input"
			class="component">
			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="password">Password:
				</label>
				<div class="col-md-4">
					<input id="password" name="password" placeholder="password"
						class="form-control input-md" required="" type="password">

				</div>
			</div>
		</div>
	</fieldset>
</form>
