<div class="container" >
	<h1><span class="label label-default">Available Providers</span></h1>
	<div class="row" >
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
		ng-repeat="provider in pendingProviders" >
  			<div class = "panel-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{provider.firstName}} {{provider.lastName }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{provider.eMail}}</td>
					</tr>
					<tr>
					<td>Office Address</td>
					<td>{{provider.address.addressLine1}}, {{provider.address.city}}, {{provider.address.state.stateAbbrv}}, {{provider.address.zip}}</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td>{{provider.address.phoneNumber}}</td>
					</tr>
				</tbody>
			</table>
		</div></div>
	</div>
	<br/>
	<div class="container">
		<button href="#manageProvider" type="button" class="btn btn-primary">My Providers</button>
	</div>
</div>

