<div class="panel-body">
	<div class="row">
		<div class="col-md-3 col-lg-3 " align="center"> 
			<img id="profileImg" alt="Not Found" src="/medi/resources/img/gravatar.png" class="img-circle img-responsive"> </div>
			<div class=" col-md-9 col-lg-9 "> 
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Name:</td>
							<td>{{profile.firstName}} {{profile.lastName }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{profile.eMail}}</a></td>
						</tr>
						<tr>
							<td>Date of Birth</td>
							<td>{{profile.dob}}</td>
						</tr>
						<tr>
							<td>Sex</td>
							<td>{{profile.sex}}</td>
						</tr>
						<tr>
						<td>Home Address</td>
						<td>{{profile.address.addressLine1}}, {{profile.address.city}}, {{profile.address.state.stateAbbrv}}, {{profile.address.zip}}</td>
						</tr>
						<tr>
							<td>Phone Number</td>
							<td>{{profile.address.phoneNumber}}</td>
						</tr>
					</tbody>
				</table>
			<a href="#editProfile" class="btn btn-primary">Edit My Profile</a>
		</div>
	</div>
</div>
