<div class="container" >
	<h1><span class="label label-default">Records </span></h1>
	<div class="row" >
		<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
			ng-repeat="(id, evaluation) in evaluations" >
	  		<div class = "panel-body">
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Date:</td>
							<td>{{evaluation.time}}</td>
						</tr>
						<tr>
							<td>Body Temperature:</td>
							<td>{{evaluation.patientEvaluation.bodyTemp}}</td>
						</tr>
						<tr>
							<td>Blood Pressure:</td>
							<td>{{evaluation.patientEvaluation.bloodPressure}}</td>
						</tr>
						<tr>
							<td>Blood Sugar:</td>
							<td>{{evaluation.patientEvaluation.bloodSugar}}</td>
						</tr>
						<tr>
							<td>Weight:</td>
							<td>{{evaluation.patientEvaluation.weight}}</td>
						</tr>
						<tr>
							<td>Height:</td>
							<td>{{evaluation.patientEvaluation.height}}</td>
						</tr>
						<tr>
							<td>Reason:</td>
							<td>{{evaluation.patientEvaluation.reason}}</td>
						</tr>
						<tr>
							<td>Symptoms:</td>
							<td>{{evaluation.patientEvaluation.symptoms}}</td>
						</tr>
						<tr>
							<td>Allergies:</td>
							<td>{{evaluation.patientEvaluation.allergies}}</td>
						</tr>
						<tr>
							<td>Medications:</td>
							<td>{{evaluation.patientEvaluation.medications}}</td>
						</tr>
						<tr>
							<td>Prior Issues:</td>
							<td>{{evaluation.patientEvaluation.priorIssues}}</td>
						</tr>
					</tbody>
				</table>			
			</div>
		</div>
	</div>
</div>