<div class="container" >
	<h1><span class="label label-default">Records </span></h1>
	<div class="row row-eq-height" >
	  		<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
			ng-repeat="record in records" >
				<table class="table table-user-information">
					<tbody>
						<tr>
							<td>Document Type:</td>
							<td>{{record.documentType}}</td>
						</tr>
				</table>
				<a href="{{record.documentLocation}}" target="_blank">
				<img  class="img-responsive center-block" src="{{record.documentLocation}}" alt="{{record.documentName}}" >
					
				</img>
				</a>
						
			</div>
		</div>
	</div>