<h1><span class="label label-default" >#{{patientId}}, {{firstName}} {{lastName}}</span></h1>
<table class="table table-bordered">
	<tr><th>Date</th><th>Test Code</th><th>Result</th></tr>
	<tr ng-repeat="test in tests">
		<td>{{test.date}}</td><td>{{test.type}}</td><td>{{test.result}}</td>
	</tr>
</table>