<div class="container" >
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<h1 class="col-md-4"><span class="label label-default">Patients</span></h1>
		<form class="navbar-form navbar-left" id="search-form" name="search-form">
	    	<div class="form-group">
	    		<input type="text" class="form-control" placeholder="Search Patients By Last Name" id="findPatient" >
	    	</div>
	    	<button type="button" class="btn btn-success" id="search" ng-click="searchPatient()">Search</button>
		</form>
	</div>
	<br/>
	
	<div class="row" >
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
		ng-repeat="patient in patients" >
  			<div class = "panel-body">
			<table class="table table-user-information">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>{{patient.firstName}} {{patient.lastName }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{patient.eMail}}</td>
					</tr>
					<tr>
					<td>Address</td>
					<td>{{patient.address.addressLine1}}, {{patient.address.city}}, {{patient.address.state.stateAbbrv}}, {{patient.address.zip}}</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td>{{patient.address.phoneNumber}}</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" ng-click="viewRecord( patient.id )" >
				See Record</a>
			<a class="btn btn-primary" ng-click="viewAppointments( patient.id )"> 
				View Appointments</a>
			<a class="btn btn-primary" ng-click="uploadDocument( patient.id )" >
				Upload New Record</a>
		</div>
	</div></div>
</div>