<div class="container" >
	<h1><span class="label label-default">Records </span></h1>
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" >
  		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(id, eval) in evaluations">
				<span class="label label-default pull-lg-right" ng-click="viewAppointment(id)" >See Evaluation</span>
				Date: {{eval.time}}
			</li>
		</ul>
	</div>
</div>