<div class="container" >
	<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" >
		<table class="table table-user-information">
			<tbody>
				<tr>
					<td>Doctor Name:</td>
					<td>{{evaluation.patientName}}</td>
				</tr>
				<tr>
					<td>Date:</td>
					<td>{{evaluation.time}}</td>
				</tr>
				<tr>
					<td>Body Temperature:</td>
					<td>{{evaluation.patientEvaluation.bodyTemp}}</td>
				</tr>
				<tr>
					<td>Blood Pressure:</td>
					<td>{{evaluation.patientEvaluation.bloodPressure}}</td>
				</tr>
				<tr>
					<td>Blood Sugar:</td>
					<td>{{evaluation.patientEvaluation.bloodSugar}}</td>
				</tr>
				<tr>
					<td>Weight:</td>
					<td>{{evaluation.patientEvaluation.weight}}</td>
				</tr>
				<tr>
					<td>Height:</td>
					<td>{{evaluation.patientEvaluation.height}}</td>
				</tr>
				<tr>
					<td>Reason:</td>
					<td>{{evaluation.patientEvaluation.reason}}</td>
				</tr>
				<tr>
					<td>Symptoms:</td>
					<td>{{evaluation.patientEvaluation.symptoms}}</td>
				</tr>
				<tr>
					<td>Allergies:</td>
					<td>{{evaluation.patientEvaluation.allergies}}</td>
				</tr>
				<tr>
					<td>Medications:</td>
					<td>{{evaluation.patientEvaluation.medications}}</td>
				</tr>
				<tr>
					<td>Prior Issues:</td>
					<td>{{evaluation.patientEvaluation.priorIssues}}</td>
				</tr>
			</tbody>
		</table>			
	</div>
</div>