<div class="container"> <br />
    <div class="row">
    	<div class="col-lg-5 col-sm-5 col-md-5" >
    		<input id="fileSelect" type="file" name="fileSelect"  class="btn btn-primary btn-file"/>
    	</div>
    	<div class="col-lg-5 col-sm-5 col-md-5" >
    		<span class="label label-default">Document Type: </span>
    		<select id="documentSelect" class="form-control" >
				<option value="TEST">Test Result(s)</option>
				<option value="IMMUNE">Immunization Record</option>
				<option value="PRESCRIPTION">Prescription</option>
				<option value="NOTES">Exam Notes</option>
				<option value="REFERRAL">Referral</option>
			</select>
    	</div>
    </div>
    	
	<div class="col-lg-5 col-sm-5 col-md-5" >
		<button class="btn btn-primary" ng-click="uploadFile()">Upload</button>
	</div>
	
</div>