<div class="container" >
	<h1><span class="label label-default">Patient Records</span></h1>
	<div class="row" >
		<div class = "panel panel-primary col-xs-6 col-md-5 col-sm-5 col-lg-5" 
			ng-repeat="record in records" >
	  		<div class = "panel-body">
					{{record}}
			</div>
		</div>
	</div>
</div>